/* Write your CSS here */

.main {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
}

.heding {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  padding: 10px;
  background-size: cover;
}
.icon {
  height: 40px;
  margin: 10px;
}
.tab-container {
}
.lower {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
span {
  color: #0b69ff;
}
p {
  font-size: 10px;
  font-weight: 800;
  margin: 10px;
}
.form {
  border: 1px solid #cbd5e1;
  padding: 10px;
  flex-grow: 1;
}
.history {
  padding-left: 10px;
  border: 1px solid #cbd5e1;
  flex-grow: 1;
}
.vertical {
  height: 10px;
  width: 1px;
  color: #cbd5e1;
}
.history-index {
  border: 2px solid #cbd5e1;
  padding-right: 0px;
}
ul {
  padding: 0px;
  margin-right: 10px;
}
li {
  list-style: none;
}

@media (max-width: 576px) {
  .lower {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
